<mat-toolbar class="navbar">
  <div class="container">
    <span>Supermarket</span>
  </div>
  <!-- <span class="spacer"></span> -->
  <div class="container menu">
    <ul>
      <li>
        <a mat-button routerLink="/clients">
          <span class="material-icons">group</span>
          Clientes
        </a>
      </li>
      <li>
        <a mat-button routerLink="/products">
          <span class="material-icons">inventory</span>
          Productos
        </a>
      </li>
      <li>
        <a mat-button routerLink="/bill">
          <span class="material-icons">description</span>
          Facturas
        </a>
      </li>
      <li>
        <a mat-button routerLink="/sellers">
          <span class="material-icons">person</span>
          Vendedores
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <button mat-button>
      <span class="material-icons">logout</span>
      Salir
    </button>
  </div>
</mat-toolbar>
