ul li {
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #d2006e;
    color: #ffff;
}

.container ul {
    font-size: 1rem;
}

.container ul li .material-icons {
    font-size: 1rem;
}

.spacer {
    flex: 1 1 auto;
}

.container button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;

    color: #ffff;
    cursor: pointer;
}

.container button .material-icons {
    font-size: 1rem;
}

.container.menu {
    display: flex;
    align-items: center;
    width: 70%;
}

.container.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container.menu ul li{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}